@model AppUsuarios.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @*se pregunta si existe un mensaje*@
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>!</strong> @TempData["Mensaje"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <!-- Agregamos disabled manualmente -->
                <input asp-for="IdUsuario" class="form-control" disabled />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rol" class="form-label">Rol</label>
                <select asp-for="Rol" class="form-control" id="rolSelect">

                    <option selected="selected" value="Member">Member</option>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <option value="Admin">Admin</option>
                        }
                    }

                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <!--
                        <input asp-for="Estado" class="form-control" />
                        -->

                        <select asp-for="Estado" class="form-control">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option selected="selected" value="Pediente">Pediente</option>
                        </select>

                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
